<p id="notice"><%= notice %></p>

<%= link_to '<button type="button">Alert List</button>'.html_safe, alerts_path %>

<h1>Log Metrics</h1>

<div class="chart-container">
  <%= line_chart @data, @options %>
</div>

